@media screen and (max-width: 414px){

    /*---------nav-------*/
    .top{
        background-color:#d9d9d9;
        width: 100%;
        height: 75px;
    }
    .top_ul{
       display: none;
    }
    .top a > img{
        margin-top:15px;
    }

    .top .fa-solid{
        display: block;
        padding-top: 20px;
        color: #f0be19;
        padding-left: 115px;
        font-size: 30px;
        transform:translateX(40px);
    }

    .top_ul li:last-child > a{
        display: inline-block;
    }

    .hidden{
        display: block;
        transform: translateX(-60px);
        font-size: 6px;
        color: #fafafa;
        background-color: #f0be19;
        border-radius: 50%;
        width: 45px;
        height: 40px;
        margin-top: 14px;
        text-align: center;
        padding-top:1px;
    }

    /*-------header---------*/

    .banner_first{
        max-width:100%;
        background-image: url(/image/first/RWD_banner.png);
        background-size: cover;
        height: 400px;
    }
    .head{
        padding-top:245px;
    }

    .head h1{
        font-size:36px;
        margin-left:-80px;
        margin-top:-50px;
    }

    .head h2{
        font-size:18px;
        margin-left:-67px;
        padding-top:8gpx;
    }


    .head a{
        margin-left:-20px;
        margin-top:15px;
    }

    .head .btn{
        border-radius:10px;
        font-size:8px;
        width:75px;
        line-height:25px;
    }
}