.swiper {
  width: 100%;
  height: 100%;
}
.section_img {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: -100px;
  left: auto;
  color:#f0be19;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: -100px;
  right: auto;
  color:#f0be19;
}

.swiper-slide img{
  width: 70%;
}

@media screen and (max-width:414px){
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: -40px;
    left: auto;
    color: #f0be19;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: -40px;
    right: auto;
    color: #f0be19;
  }

  .swiper-slide img{
    width: 100%;
  }
}