@import url(./reset.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  background-color: #fffafa;
  font-weight: bold;
  color: #242423;
  line-height: 1.6;
  overflow-x:hidden;
}



/********共同樣式*******/
a {
  text-decoration: none;
  color: #242423;
}

.btn {
  border-radius: 15px;
  border-style: none;
  background-color: #f0be19;
  width: 90px;
  font-size: 14px;
  display: block;
  text-align: center;
  line-height: 35px;
  transition: .8s;
}

.btn:hover{
  background-color: transparent;
  color:#f0be19;
  border:2px solid #242423;
}

/*---------index----------*/

/*------- link -- navcss-------*/

/*------- header-------*/

.banner_first {
  width: 100%;
  height: 550px;
  background-image: url(../image/first/image_top_banner.png);
  background-size: cover;
  line-height: 1.3;
}

.head {
  padding-top: 300px;
  margin-left: 100px;
  width: 500px;
  height: 300px;
}

.head h1 {
  font-size: 72px;
  color: transparent;
  -webkit-text-stroke: 2px #f0be19;
}

.head h2 {
  font-size: 36px;
  color: #fffafa;
  margin-left: 50px;
}

.head a {
  margin-left: 450px;
  margin-top: 10px;
}

/*banner下方的跑馬燈*/
.scroll_top {
  display: flex;
  background: #d9d9d9;
  height: 52px;
  line-height: 52px;
  justify-content: center;
  display: none;
}
.scroll_top .text {
  animation: scroll_top 3s linear infinite;
}

@keyframes scroll_top {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 414px) {
  .banner_first {
    max-width: 100%;
    background-image: url(../image/first/RWD_fristbanner.png);
    background-position: calc(100% - -95px) calc(100% - -64px);
    background-size: cover;
    height: 400px;
  }

  .scroll_top {
    display: block;
    font-size: 15px;
    background-color: #f0be19;
  }

  .head {
    padding-top: 245px;
    width: 400px;
    margin-left: 14px;
  }

  .head h1 {
    font-size: 36px;
    margin-top: -50px;
  }

  .head h2 {
    font-size: 18px;
    margin-left: 17px;
    padding-top: 8px;
  }
  .head a {
    margin-left: 60px;
    margin-top: 15px;
  }

  .head .btn {
    border-radius: 10px;
    font-size: 8px;
    width: 75px;
    line-height: 25px;
  }
}

/*------- article-------*/

.content_first_h2_div {
  max-width: 100%;
  width: 1000px;
  position: relative;
  margin: 0 auto;
}

.content_first_h2 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  margin: -30px 0 40px 0;
  /* position: relative; */
}

.content_first_h2::before {
  content: "";
  background-color: #242423;
  height: 4px;
  width: 85px;
  position: absolute;
  top: 26px;
  left: 160px;
}

.content_first_h2::after {
  content: "";
  background-color: #242423;
  height: 4px;
  width: 85px;
  position: absolute;
  top: 26px;
  right: 160px;
}

.content_first {
  margin: 100px 150px;
  width: auto;
}

.content_first ul {
  margin: 0 auto;
}

.content_first ul > li:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.content_first ul > li:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.hori {
  flex-direction: row;
  width: 40%;
  height: 35%;
  text-align: center;
  align-items: center;
  padding: 0 10px;
}

.content_first > ul > li img {
  width: 40%;
  height: 25%;
}

.hori p {
  text-align: left;
  padding: 10px 20px;
  font-size: 18px;
  margin: 0 auto;
  font-weight: normal;
}

.hori h3 {
  font-size: 36px;
}

.hori h4 {
  color: #f0be19;
  font-size: 30px;
}

.hori .btn {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .content_first {
    margin: 80px auto;
  }
  /*第一區塊標題用直行排列*/
  .content_first ul > li:last-child {
    flex-direction: column;
  }

  .content_first > ul > li img {
    width: 80%;
    margin-top: 20px;
    box-shadow: 0px 0px 0px 42px #d9d9d9;
  }

  .hori h3 {
    font-size: 24px;
    margin-top: 80px;
  }

  /*把標題的裝飾關掉*/
  .content_first_h2::before,
  .content_first_h2::after {
    display: none;
  }

  .content_first ul > li:first-child {
    flex-direction: column-reverse;
  }
  .content_first_h2 {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .hori {
    width: 90%;
  }
  .hori h4 {
    font-size: 18px;
    padding-top: 10px;
  }

  .hori p {
    padding-top: 15px;
  }
}

/*******section********/
.banner_second {
  background: linear-gradient(-25deg, #fbd149, #fbd149, #f2875b);
  display: grid;
  justify-items: center;
  width: 100%;
  background-size: cover;
}

.banner_second h1 {
  font-size: 44px;
  margin: 80px 0 0 0;
}

.banner_second h2 {
  font-size: 36px;
  margin: 0 auto 30px;
}

.banner_second_ul {
  display: flex;
  max-width: 100%;
  width: 500px;
  margin-bottom: 100px;
}

.banner_second_ul li > img {
  margin: 0 auto;
  height: 100px;
  width: auto;
  display: block;
}

.banner_second_ul li {
  display: block;
}

.banner_second_ul li > h3 {
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
}

.banner_second_ul li > p {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 18px;
  padding: 0 30px;
  font-weight: bold;
}

@media screen and (max-width: 414px) {
  .banner_second {
    max-width: 100%;
  }

  .banner_second_ul {
    width: 75%;
  }
  .banner_second h1 {
    font-size: 1.5em;
  }

  .banner_second h2 {
    font-size: 1em;
    -webkit-text-stroke: 1px #242423;
    -webkit-text-fill-color: transparent;
    padding-top: 10px;
  }
  .banner_second_ul li > img {
    height: 70px;
  }
  .banner_second_ul li > h3 {
    font-size: 16px;
    padding-top: 10px;
  }
  .banner_second_ul li > p {
    font-size: 12px;
    margin-left: 0;
    padding: 0 10px;
    text-align: left;
  }
  .banner_second_ul li {
    margin-left: 13px;
  }
}

/******article_2*****/
.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 34px;
  text-align: center;
  margin: 50px 0 30px 0;
}

.wrapper_flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 80px 0;
}

.wrapper_left {
  max-width: 80%;
  position: relative;
}

.wrapper_right {
  max-width: 50%;
  padding-right: 100px;
}

.wrapper_left h3 {
  background-color: #d9d9d9;
  width: 600px;
  height: 300px;
  border-radius: 0 50px 0 0;
  max-width: 100%;
}

.wrapper_left h4 {
  background-image: url(../image/first/SC_image_2.png);
  width: 500px;
  height: 300px;
  background-size: cover;
  position: absolute;
  left: 39px;
  bottom: -6px;
  max-width: 100%;
}

.wrapper_right h2 {
  text-align: center;
  font-size: 30px;
  color: #f0be19;
  margin-left: 30px;
  margin-top: 50px;
}

.wrapper_right p {
  font-size: 18px;
  width: 80%;
  padding: 10px 0 10px 80px;
  margin: 0 auto;
  font-weight: normal;
}

.wrapper_right .btn {
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .wrapper h1 {
    font-size: 24px;
  }
  .wrapper_right h2 {
    font-size: 16px;
    margin-top: 38px;
    margin-left: 75px;
  }
  .wrapper_right p {
    font-size: 13px;
  }

  .wrapper_flex {
    flex-direction: column;
  }
  .wrapper_left h3 {
    max-width: 90%;
    height: 225px;
  }

  .wrapper_left h4 {
    height: 200px;
    left: 35px;
    bottom: -11px;
    width: 80%;
  }

  .wrapper_right {
    max-width: 100%;
  }
  .wrapper_right .btn {
    margin-left: 150px;
  }
}
/*---------link--indexfootercss--------*/

/*--------about us --------*/

/*------麵包屑------*/

.breadcrumbList {
  width: 100%;
  max-width: 100%;
  padding-top: 64px;
  /* margin-top: -1px; */
}

.container_list {
  background-color: #d9d9d9;
  width: 100%;
}
.breadcrumb {
  display: flex;
  height: 40px;
  padding-left: 100px;
}

.breadcrumb li {
  padding: 5px 15px;
  position: relative;
}

.breadcrumb li > a::after {
  content: "/";
  position: absolute;
  left: 60px;
  top: 4px;
}

.rwd_banner {
  display: none;
}
@media screen and (max-width: 414px) {
  .breadcrumbList {
    display: none;
  }
  .rwd_banner {
    display: block;
    max-width: 100%;
    width: 414px;
    /* height: 350px; */
  }
  .rwd_banner_item {
    padding: 150px 0;
  }
  .rwd_banner h2 {
    color: #8e8e8e;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.1em;
  }

  .rwd_banner h3 {
    color: #f0be19;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 0.1em;
  }
}

/*------grid------*/

.container_article {
  max-width: 100%;
}

.container_grid {
  display: grid;
  grid-auto-columns: 400px;
  grid-template-rows: 400px 10px 400px 50px 400px;
  width: 1200px;
  height: 1310px;
  margin: 0 auto;
  padding: 300px 0;
}

/*---grid第一欄--*/

.container_grid img:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  object-fit: cover;
  max-width: 100%;
}

.container_item_right {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}
.container_item_right h3 {
  color: #f0be19;
  font-size: 40px;
  margin: 50px 50px 20px 50px;
}

.container_item_right p {
  text-align: left;
  position: relative;
  padding: 0 200px;
  font-weight: bold;
  line-height: 1.6;
  font-size: 20px;
}
/* grid第1/2欄 */

.container_item_span {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 1200px;
  height: 50px;
  background-color: #fffafa;
}

/*---grid第二欄--*/
.container_grid img:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  object-fit: cover;
  max-width: 100%;
}

.container_span_first {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: #d9d9d9;
  width: 400px;
  height: 50px;
}

.container_item_middle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

.container_item_middle h2 {
  font-size: 48px;
  font-weight: bold;
  color: #d9d9d9;
  margin-top: 100px;
}

.container_item_middle h3 {
  font-size: 40px;
  font-weight: bold;
  color: #f0be19;
}

.container_span_second {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: #f0be19;
  width: 400px;
  height: 50px;
}

.container_grid img:nth-child(8) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  object-fit: cover;
  max-width: 100%;
}

.container_span_third {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: #d9d9d9;
  width: 400px;
  height: 50px;
}
.container_item_right p:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 70px;
  left: -12px;
  transform: rotate(45deg);
}

/*---grid第三欄--*/

.container_item_left {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  text-align: center;
  margin: 40px 15px;
}

.container_item_left h3 {
  color: #f0be19;
  font-size: 40px;
  margin: 50px 50px 20px 50px;
}

.container_item_left p {
  text-align: left;
  font-weight: bold;
  position: relative;
  font-size: 20px;
  padding: 0 200px;
}

.container_item_left p:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 135px;
  right: -35px;
  transform: rotate(45deg);
}

.container_item_left .btn {
  margin: 30px auto;
}

.container_grid_lastimg {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  object-fit: cover;
  max-width: 100%;
}

@media screen and (max-width: 414px) {
  .container_grid {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: 100px 0;
  }
  /*隱藏grid第二欄*/
  .container_item_span,
  .container_span_first,
  .container_item_middle,
  .container_span_second,
  .container_span_third {
    display: none;
  }
  .container_grid img:nth-child(4),
  .container_grid img:nth-child(8) {
    display: none;
  }

  .container_item_right h3,
  .container_item_left h3 {
    margin: 0 auto;
    font-size: 22px;
    padding: 15px 0;
  }

  .container_item_right p,
  .container_item_left p {
    padding: 0;
    font-size: 14px;
    font-weight: normal;
  }

  .container_item_right p:before {
    display: none;
  }

  .container_grid img:first-child {
    box-shadow: 0px 30px 0px 0px #d9d9d9;
    margin-bottom: 50px;
  }

  .container_grid_lastimg {
    margin-top: 50px;
    box-shadow: 0px 30px 0px 0px #d9d9d9;
    margin-bottom: 10px;
  }
}

/*------introduction-----*/

/*------banner-----*/

.section_outdiv {
  width: 100%;
}
.second_div {
  max-width: 100%;
  width: 100%;
  padding: 200px 0;
}

.second_div h3::before {
  content: "";
  width: 200px;
  height: 450px;
  background-color: #f0be19;
  position: absolute;
  left: -80px;
  top: -50px;
  z-index: -1;
}
.second_div h3 {
  max-width: 100%;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  background-image: url(../image/third/introduction_banner.png);
  background-size: cover;
}

.second_div h3::after {
  content: "";
  width: 962px;
  height: 250px;
  background-color: #d9d9d9;
  position: absolute;
  left: 117px;
  bottom: -45px;
  z-index: -2;
  max-width: 100%;
}

.second_div p {
  background-color: #fffafa;
  width: 250px;
  height: 125px;
  position: absolute;
  right: 60px;
  bottom: -180px;
  font-size: 40px;
  line-height: 125px;
  text-align: center;
  padding-bottom: 100px;
}

@media screen and (max-width: 414px) {
  .second_div {
    padding: 75px 0 0 0;
  }

  .second_div h3 {
    background-image: url(../image/third/rwd_introduction_banner.jpg);
  }

  .second_div h3::before,
  .second_div h3::after {
    content: "";
    width: 200px;
    height: 1px;
    background-color: unset;
    position: static;
    left: 0;
    top: 0;
  }

  .second_div p {
    position: static;
    right: unset;
    bottom: unset;
    padding-bottom: 0;
    background-color: unset;
    margin: 0 auto;
    padding: 88px 0;
    -webkit-text-stroke: 1px #242423;
    color: transparent;
    font-size: 50px;
  }

  .section_introuduce .container_outside h2 {
    margin: 40px 0 0 0;
  }

  .section_introuduce .container_outside h2::before {
    content: "";
    background-color: #242423;
    height: 4px;
    width: 85px;
    position: absolute;
    top: 20px;
    left: 245px;
  }

  .section_introuduce .container_outside h2::after {
    content: "";
    background-color: #242423;
    height: 4px;
    width: 85px;
    position: absolute;
    top: 20px;
    right: 245px;
  }

  
  
}

/*------輪播-----*/
.section_introuduce {
  width: 100%;
  /* outline: 2px solid red; */
}

.section_img {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 414px) {
  .section_img {
    width: 100%;
  }
}


.container_outside {
  margin: 0 auto;
  width: 80%;
}

.container_outside h2 {
  text-align: center;
  font-size: 24px;
  position: relative;
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
}

.container_outside h2::before {
  content: "";
  background-color: #242423;
  height: 4px;
  width: 85px;
  position: absolute;
  top: 20px;
  left: 330px;
}

.container_outside h2::after {
  content: "";
  background-color: #242423;
  height: 4px;
  width: 85px;
  position: absolute;
  top: 20px;
  right: 330px;
}

.section_img img {
  width: 100%;
}

.section_img_item {
  width: 300px;
  height: 300px;
}

.section_img_item_02 {
  max-width: 100%;
  width: 400px;
  height: 400px;
}

/*------service-----*/

/*------banner-----*/
.service_banner {
  width: 100%;
  padding-top: 105px;
}

.service_container {
  background-image: url(../image/four/service_banner.png);
  width: 100%;
  height: 600px;
  background-size: cover;
}
.service_container h3 {
  color: #fffafa;
  text-align: center;
  line-height: 900px;
  font-size: 52px;
  letter-spacing: 5px;
}

@media screen and (max-width: 414px) {
  .service_banner {
    padding-top: 75px;
  }

  .service_container {
    height: 300px;
    background-position: calc(100% - -282px);
  }

  .service_container h3 {
    line-height: 460px;
  }

  .service_pay_second {
    display: none;
  }
  .wrap_ul {
    flex-direction: column;
    /* justify-content: sspace-evenly; */
  }

  .wrap_ul .wrap_ul_item {
    height: 300px;
    justify-content: space-evenly;
  }

  .wrap_section .wrap_ul h2 {
    margin-top: 100px;
    font-size: 22px;
    font-weight: normal;
    line-height: 130px;
    height: 130px;
  }
  .wrap_ul_item h3 {
    display: none;
  }
  .wrap_section .wrap_ul_item p {
    font-size: 15px;
    padding-top: 30px;
  }
}

/*------內文1-----*/

.service_pay {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0;
}

.service_pay_first {
  border: 2px solid #f0be19;
}

.service_pay_first h3 {
  font-size: 36px;
  text-align: center;
  margin: 20px 20px;
}

.service_pay_first p {
  font-size: 24px;
  padding: 20px 30px;
}
.service_pay_second {
  border: 2px solid #f0be19;
  width: 50%;
  position: relative;
}
.service_pay_second .fa-solid {
  font-size: 36px;
  position: absolute;
  left: 28px;
  top: 30px;
}
.service_pay_second h3 {
  font-size: 36px;
  text-align: left;
  margin: 20px 20px;
  padding-left: 67px;
}

.service_pay_second p {
  font-size: 24px;
  padding: 25px 50px 25px 90px;
  line-height: 1.8;
}

/*------內文2-----*/

.wrap_section {
  width: 100%;
}

.wrap_ul {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 50px;
}

.wrap_ul li {
  padding-left: 10px;
}

.wrap_ul h2 {
  background-color: #f0be19;
  width: 280px;
  height: 180px;
  font-size: 36px;
  text-align: center;
  line-height: 180px;
}

.wrap_ul_item {
  background-color: #d9d9d9;
  width: 280px;
  height: 500px;
  position: relative;
}

.wrap_ul_item h3 {
  font-size: 22px;
  padding: 10px 10px;
  text-align: center;
}

.wrap_ul_item p {
  padding-top: 47px;
  font-weight: normal;
  font-size: 18px;
  padding: 10px 50px;
}

.wrap_ul_item .btn {
  position: absolute;
  right: 93px;
  bottom: 30px;
}

/*------Group-----*/
.group_section {
  width: 100%;
  /* background-color: #8e8e8e; */
  padding: 10px 0 10px 0;
  /* overflow: hidden; */
  background-color:#8e8e8e;
}

.group {
  width: 94%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0px;
  height: 490px;
  transform: translateX(130px);
  background-color:#8e8e8e;
} 

.group h2{
  -webkit-text-stroke: 2px #f0be19;
  padding-top: 210px;
  font-size: 40px;
  color:transparent;
}



@media screen and (max-width:414px){
  .group{
    transform: unset;
    width: 190%;
    padding: 20px 0 0 0px;
   
    height: 80%;
  }
  .group h2{
    display: none;
  }
  .group_section{
    overflow: hidden;
  }

}
/*------Coach-----*/

.two_div_container {
  width: 100%;
  padding: 150px 0 300px 0;
}

.div_container {
  display: flex;
  max-width: 100%;
  height: 800px;
  /* position: relative; */
}

.coach_div {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

/*左邊的圖*/

.first_div_container {
  width: 500px;
  height: 780px;
  border: 2px solid #f0be19;
  border-radius: 0 100px 0 0;
  position: absolute;
  left: 150px;
  top: 100px;
}

.first_div_container h3 {
  font-size: 36px;
  padding: 10px 0 0 60px;
}

.first_div_container h4 {
  background-image: url(../image/five/Ariel.png);
  background-size: cover;
  border-radius: 0 100px 0 0;
  width: 400px;
  height: 600px;
  margin: 10px 0 0 50px;
}

.first_div_container .btn {
  margin-left: 55px;
  margin-top: 50px;
}

/*右邊的圖*/
.second_div_container {
  width: 500px;
  height: 780px;
  background-color: rgba(240, 190, 25, 0.7);
  border-radius: 200px 0 0 0;
  position: absolute;
  right: 70px;
  top: 150px;
}

.second_div_container li {
  padding-top: 50px;
  padding-left: 30px;
  margin: 50px 50px 30px 80px;
}
.second_div_container h3 {
  font-size: 26px;
}
.second_div_container p {
  padding-top: 10px;
  font-size: 22px;
  font-weight: normal;
}

@media screen and (max-width: 414px) {
  .div_container {
    flex-direction: column;
  }
  .first_div_container {
    position: static;
    width: 90%;
    background-color: rgba(240, 190, 25, 0.5);
    border: none;
  }
  .second_div_container {
    position: static;
    background-color: transparent;
    border: 1px solid #f0be19;
    width: 90%;
    margin-left: 36px;
    margin-top: -49px;
    height: 630px;
  }

  .first_div_container .btn{
    position: absolute;
    bottom: 15px;
    right: 30px;
  }

  .coach_div {
    width: 100%;
  }
  .first_div_container h4 {
    width: 75%;
    margin: auto;
    background-position: calc(100% - -100px);
    max-width: 265px;
  }
  .first_div_container h3 {
    font-size: 32px;
  }

  .second_div_container li {
    margin: 0px 50px 0px 80px;
  }
  .second_div_container p {
    font-size: 16px;  
  }
  .second_div_container h3 {
    font-size: 22px;
  }
  .div_container {
    height: auto;
  }

  .two_div_container {
    padding: 150px 0 50px 0;
  }


}

/*------reserve(最後一頁)-----*/

/*-----banner-----*/
.section_from {
  width: 100%;
}

.section_item {
  padding: 150px 0 50px 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.section_item h3 {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.2em;
  padding-bottom: 30px;
  position: relative;
  margin: 0 auto;
}

.section_item h3::before {
  content: "";
  background-color: #242423;
  height: 4px;
  width: 85px;
  position: absolute;
  top: 28px;
  left: 345px;
}

.section_item h3::after {
  content: "";
  background-color: #242423;
  background-color: #242423;
  height: 4px;
  width: 85px;
  position: absolute;
  top: 28px;
  right: 345px;
}

.section_item img {
  display: block;
  width: 100%;
}

/*-----form-----*/

.section_item_form {
  width: 100%;
  background-color: #d9d9d9;
}

.section_item_form_outer {
  max-width: 100%;
  height: 800px;
  margin: 100px 0 150px 0;
}

.section_item_form h3 {
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.3em;
  padding: 30px 0;
}

.section_reserve {
  width: 30%;
  margin: 0 auto;
}

.section_reserve label {
  padding: 15px 0;
}

.section_item_form .form_control {
  border: 1.5px solid #242423;
  display: block;
  width: 100%;
  margin: 5px 0;
  line-height: 40px;
}

.form_control_select {
  border: 1.5px solid #242423;
  display: block;
  width: 101.5%;
  margin: 5px 0;
  line-height: 40px;
  height: 45px;
}
.section_item_form .form_control {
  font-size: 12px;
  letter-spacing: 1px;
  padding-left: 10px;
}


.form_control_submit {
  background: linear-gradient(-25deg, #fbd149, #fbd149, #f2875b);
  border: none;
  color: #242423;
  padding: 10px 15px;
  width: 100%;
  margin-top: 25px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Noto Sans TC";
  font-weight: bold;
  transition: .7s;
}

.form_control_submit:hover{
  box-shadow: 10px 10px 5px rgba(0,0,0,.5);
}


@media screen and (max-width: 414px) {
  .section_item h3::before,
  .section_item h3::after {
    width: 50px;
  }
  .section_item {
    padding: 50px 0 50px 0;
  }

  .section_item img {
    display: none;
  }
  .section_item h4 {
    background-image: url(../image/last/banner_rwd.png);
    width: 414px;
    height: 320px;
  }
  .section_item_form {
    background-color: transparent;
    border: 5px solid #f0be19;
    width: 95%;
    margin: 0 auto 50px auto;
    box-sizing: border-box;

  }
  .section_item_form h3 {
    padding: 10px 0 15px 0;
    font-size: 24px;
  }
  .section_item_form_outer {
    margin: 0px 0 50px 0;
  }
  .section_reserve {
    width: 70%;
  }
  .section_item_form_outer{
    height: auto;
  }

  .form_control_select{
    width: 105.5%;
  }
}
