@import url(reset.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  background-color: #fffafa;
  font-weight: bold;
  color: #242423;
  line-height: 1.6;
}

/********共同樣式*******/
a {
  text-decoration: none;
  color: #242423;
}

.btn {
  border-radius: 15px;
  border-style: none;
  background-color: #f0be19;
  width: 90px;
  font-size: 14px;
  display: block;
  text-align: center;
  line-height: 35px;
}

/*---------index----------*/

/*------- link -- navcss-------*/

/*------- header-------*/

.banner_first {
  width: 100%;
  height: 565px;
  background-image: url(../image/first/image_top_banner.png);
  background-size: cover;
  line-height: 1.3;
}

.head {
  padding-top: 300px;
  margin-left: 100px;
  width: 500px;
  height: 300px;
}

.head h1 {
  font-size: 72px;
  color: transparent;
  -webkit-text-stroke: 2px #f0be19;
}

.head h2 {
  font-size: 36px;
  color: #fffafa;
  margin-left: 50px;
}

.head a {
  margin-left: 150px;
  margin-top: 10px;
}

/*------- article-------*/

.content_first {
  margin: 100px 150px;
  width: auto;
}

.content_first ul {
  margin: 0 auto;
}

.content_first ul > li:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.content_first ul > li:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.hori {
  flex-direction: row;
  width: 40%;
  height: 35%;
  text-align: center;
  align-items: center;
  padding: 0 10px;
}

article > ul > li img {
  width: 40%;
  height: 25%;
}

.hori p {
  text-align: left;
  padding: 10px 20px;
  font-size: 18px;
  margin: 0 auto;
  font-weight: normal;
}

.hori h3 {
  font-size: 36px;
}

.hori h4 {
  color: #f0be19;
  font-size: 30px;
}

.hori .btn {
  display: block;
  margin: 0 auto;
}

/*******section********/
.banner_second {
  background: linear-gradient(-25deg, #fbd149, #fbd149, #f2875b);
  display: grid;
  justify-items: center;
  width: 100%;
  background-size: cover;
}

.banner_second h1 {
  font-size: 44px;
  margin: 80px 0 0 0;
}

.banner_second h2 {
  font-size: 36px;
  margin: 0 auto 50px;
}

.banner_second_ul {
  display: flex;
  width: 55%;
  margin-bottom: 100px;
}

.banner_second_ul li > img {
  margin: 0 auto;
  height: 100px;
  width: auto;
  display: block;
}

.banner_second_ul li {
  display: block;
}

.banner_second_ul li > h3 {
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
}

.banner_second_ul li > p {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 18px;
  padding: 0 30px;
  font-weight: bold;
}

/******article_2*****/
.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 34px;
  text-align: center;
  margin: 50px 0 30px 0;
}

.wrapper_flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 80px 0;
}

.wrapper_left {
  max-width: 80%;
  position: relative;
}

.wrapper_right {
  max-width: 50%;
  padding-right: 100px;
}

.wrapper_left h3 {
  background-color: #d9d9d9;
  width: 600px;
  height: 300px;
  border-radius: 0 50px 0 0;
}

.wrapper_left h4 {
  background-image: url(../image/first/SC_image_2.png);
  width: 500px;
  height: 300px;
  background-size: cover;
  position: absolute;
  left: 80px;
  bottom: -35px;
}

.wrapper_right h2 {
  text-align: center;
  font-size: 30px;
  color: #f0be19;
  margin-left: 30px;
  margin-top: 50px;
}

.wrapper_right p {
  font-size: 18px;
  width: 80%;
  padding: 10px 0 10px 80px;
  margin: 0 auto;
  font-weight: normal;
}

.wrapper_right .btn {
  margin: 0 auto;
}

/*---------link--indexfootercss--------*/

/*--------about us --------*/

/*------麵包屑------*/

.breadcrumbList {
  width: 100%;
  max-width: 100%;
  position: fixed;
  margin-top: 65px;
}

.container_list {
  background-color: #d9d9d9;
  width: 100%;
}
.breadcrumb {
  display: flex;
  height: 40px;
  padding-left: 100px;
}

.breadcrumb li {
  padding: 5px 15px;
  position: relative;
}

.breadcrumb li > a::after {
  content: "/";
  position: absolute;
  left: 60px;
  top: 4px;
}

/*------grid------*/

.container_article {
  width: 100%;
}

.container_grid {
  display: grid;
  grid-auto-columns: 400px;
  grid-template-rows: 400px 400px 50px 400px;
  width: 1200px;
  height: 1300px;
  margin: 0 auto;
  padding: 300px 0;
}

/*---grid第一欄--*/

.container_grid img:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  object-fit: cover;
  max-width: 100%;
}

.container_item_right {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}
.container_item_right h3 {
  color: #f0be19;
  font-size: 40px;
  margin: 50px 50px 20px 50px;
}

.container_item_right p {
  text-align: left;
  position: relative;
  padding: 0 200px;
  font-weight: bold;
  line-height: 1.6;
  font-size: 20px;
}

/*---grid第二欄--*/
.container_grid img:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  object-fit: cover;
  max-width: 100%;
}

.container_span_first {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #d9d9d9;
  width: 400px;
  height: 50px;
}

.container_item_middle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.container_item_middle h2 {
  font-size: 48px;
  font-weight: bold;
  color: #d9d9d9;
  margin-top: 100px;
}

.container_item_middle h3 {
  font-size: 40px;
  font-weight: bold;
  color: #f0be19;
}

.container_span_second {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #f0be19;
  width: 400px;
  height: 50px;
}

.container_grid img:nth-child(7) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  object-fit: cover;
  max-width: 100%;
}

.container_span_third {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #d9d9d9;
  width: 400px;
  height: 50px;
}
.container_item_right p:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 70px;
  left: -12px;
  transform: rotate(45deg);
}

/*---grid第三欄--*/

.container_item_left {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
  margin: 40px 15px;
}

.container_item_left h3 {
  color: #f0be19;
  font-size: 40px;
  margin: 50px 50px 20px 50px;
}

.container_item_left p {
  text-align: left;
  font-weight: bold;
  position: relative;
  font-size: 20px;
  padding: 0 200px;
}

.container_item_left p:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 135px;
  right: -35px;
  transform: rotate(45deg);
}

.container_item_left .btn {
  margin: 30px auto;
}

.container_grid_lastimg {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  object-fit: cover;
  max-width: 100%;
}

/*------introduction-----*/

/*------banner-----*/

.section_outdiv {
  width: 100%;
}
.second_div {
  max-width: 100%;
  width: 100%;
  padding: 200px 0;
  padding-top: 200px;
}

.second_div h3::before {
  content: "";
  width: 200px;
  height: 450px;
  background-color: #f0be19;
  position: absolute;
  left: -80px;
  top: -50px;
  z-index: -1;
}
.second_div h3 {
  width: 900px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  background-image: url(/image/third/introduction_banner.png);
  background-size: cover;
}

.second_div h3::after {
  content: "";
  width: 1100px;
  height: 250px;
  background-color: #d9d9d9;
  position: absolute;
  left: 80px;
  bottom: -45px;
  z-index: -2;
}

.second_div p {
  background-color: #fffafa;
  width: 250px;
  height: 125px;
  position: absolute;
  right: 60px;
  bottom: -180px;
  font-size: 40px;
  line-height: 125px;
  text-align: center;
  padding-bottom: 100px;
}

/*------輪播-----*/
.section_introuduce {
  width: 100%;
  /* outline: 2px solid red; */
}

.section_img {
  /* outline: 2px snow solid; */
  width: 50%;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.section_img p::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid #d9d9d9;
  border-bottom: 20px solid transparent;
  vertical-align: middle;
  position: absolute;
  top: 300px;
  left: -300px;
}

.section_img p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #d9d9d9;
  border-bottom: 20px solid transparent;
  vertical-align: middle;
  position: absolute;
  top: 300px;
  right: -300px;
}

.container_outside {
  margin: 0 auto;
  width: 80%;
}

.section_img img {
  width: 100%;
}

.section_img_item {
  width: 300px;
  height: 300px;
}

.section_img_item_02 {
  width: 400px;
  height: 400px;
}

/*------service-----*/

/*------banner-----*/
.service_banner {
  width: 100%;
  padding-top: 105px;
}

.service_container {
  background-image: url(/image/four/service_banner.png);
  width: 100%;
  height: 600px;
  background-size: cover;
}
.service_container h3 {
  color: #fffafa;
  text-align: center;
  line-height: 900px;
  font-size: 52px;
  letter-spacing: 5px;
}

/*------內文1-----*/

.service_pay {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}

.service_pay_first {
  border: 2px solid #f0be19;
}

.service_pay_first h3{
  font-size: 36px;
  text-align: center;
  margin:20px 20px;
}

.service_pay_first p{
  font-size: 24px;
  padding:20px 30px;
}
.service_pay_second {
  border: 2px solid #f0be19;
  width: 50%;
  position: relative;
}
.service_pay_second .fa-solid{
  font-size: 36px;
  position: absolute;
  left: 28px;
  top:30px;  

}
.service_pay_second h3{
  font-size: 36px;
  text-align: left;
  margin:20px 20px;
  padding-left: 67px;
}

.service_pay_second p{
  font-size: 24px;
  padding:25px 50px 25px 90px;
  line-height: 1.8;
}

/*------內文2-----*/

.wrap_section {
  width: 100%;
  /* display: flex; */
}

/* .wrap_ul {
  width: 70%;
  height: 80%;
  padding: 150px 185px;
  flex-direction: column;
}

.wrap_ul li {
  display: flex;
  background-color: #d9d9d9;
  margin: 40px 0;
  align-items: stretch;
  border-radius: 10px;
  padding: 20px 20px;
  justify-content: space-around;
}

.wrap_ul h2 {
  background-color: #f0be19;
  margin: 10px 15px;
  width: 100px;
  text-align: center;
  line-height: 80px;
  border-radius: 10px;
}

.wrap_ul .wrap_ul_first {
  width: 125px;
}

.wrap_ul .wrap_ul_third {
  width: 110px;
}

.wrap_ul_item {
  margin: 10px 0;
  position: relative;
}

.wrap_ul_item h3 {
  padding-top: 5px;
}

.wrap_ul .wrap_ul_item p {
  font-weight: normal;
  font-size: 10px;
  padding-top: 5px;
}

.wrap_ul .wrap_ul_item .btn {
  position: absolute;
  right: 0;
  top: 65px;
} */

/*------Group-----*/
.group_section {
  width: 100%;
}

.group {
  width: 70%;
  display: flex;
  justify-items: last baseline;
  padding: 100px 0 0 300px;
}

.group_item {
  display: flex;
  position: relative;
}

.group_item h2::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid #d9d9d9;
  border-bottom: 20px solid transparent;
  vertical-align: middle;
  position: absolute;
  bottom: 200px;
  left: -100px;
}

.group_item h3 {
  height: 150px;
  line-height: 150px;
  width: 100px;
  background-color: #d9d9d9;
  opacity: 0.5;
  text-align: center;
  font-size: 12px;
}

.group_item .group_coach {
  position: absolute;
  left: 125px;
  top: 202px;
}

.group_item img {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 50px 0 50px 50px;
}

/*------reserve(最後一頁)-----*/

/* .slide {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.slide_fit {
    width: 100%;
    background-size: cover;
    opacity: .8; 
} */

.form {
  width: 100%;
  /* display: flex; */
  align-items: center;
  margin: 0 auto;
  /* position: relative; */
}

.section_item h3 {
  text-align: center;
}

/* .section_item h3:before {
    content: "";
    width: 80px;
    background-color: #242423;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
} */

/* .section_item h3:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #242423;
    display: block;
    position: absolute;
    top: 49%;
    left: 33%;
    transform: rotate(45deg);


} */

.section_item {
  width: 300px;
  margin-left: 200px;
}

.section_item_form {
  width: 330px;
  border: 2px solid #d9d9d9;
  padding: 20px 20px;
  margin: 60px 0 60px 10px;
}

.section_item_form .form_control {
  border: none;
  border-bottom: 1px solid #fffafa;
  display: block;
  width: 320px;
  height: 25px;
  padding-top: 10px;
}

.section_item_form .form_control:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #f0be19;
}

.section_item_form .form_control::placeholder {
  font-size: 12px;
  letter-spacing: 1px;
}

.form_control_submit {
  background: linear-gradient(-25deg, #fbd149, #fbd149, #f2875b);
  border: none;
  color: #242423;
  padding: 10px 15px;
  width: 100%;
  margin-top: 25px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Noto Sans TC";
}
